/*
  chess.css
  Joshua Marshall Moore
  January 17, 2016
  
  Sources:
  http://www.456bereastreet.com/archive/201012/how_to_create_a_3-column_layout_with_css/  
  http://quirksmode.org/css/css2/columns.html
  https://www.w3.org/Style/Examples/007/evenodd.en.html
  a css thing on table
  a css thing on rowspans
  
  
*/

body {
  margin: 0;
  border: 0;
  padding: 0;
  background-image: url('art/background/knödel.jpg');
}

h1 {
  font-color: black;
}

#board {
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.25);
}

/* these are not yet dynamic */

th {
  font-color: white;
}

/* td is equivalent to td.pieces (there is no td.field). */
td {
  border: 1px solid black;
  width: 50px;
  height: 50px;
}

tr:nth-child(odd)>td:nth-child(odd):not(.pieces) {
  background-image: url('art/field/fire-3.png');
}

tr:nth-child(odd)>td:nth-child(even):not(.pieces) {
  background-image: url('art/field/fence-3.png');
}

tr:nth-child(even)>td:nth-child(even):not(.pieces) {
  background-image: url('art/field/fire-3.png');
}

tr:nth-child(even)>td:nth-child(odd):not(.pieces) {
  background-image: url('art/field/fence-3.png');
}

td.pieces {
  width: 100px;
  height: 50px;
}

td.pieces#white {
  border: 1px solid white;
}

td.pieces#black {
  border: 2px solid black;
}

